@import 'styles/_mixins.scss';

.container {
  box-shadow: none !important;
  border-radius: 12px !important;
  :global {
    .price {
      box-shadow: 3px 5px 20px 0 rgba(94,92,154,.12);
      background: white;
      padding: 0 14px;
      height: 32px;
      border-radius: 200px;
      margin: 0;
      font-weight: bold;
      font-size: 0.975rem;
      line-height: 32px;

      position: absolute;
      right: 20px;
      top: -20px;
    }
  }
}
