.container {
  :global {
    .ant-collapse-header {
      position: relative;
      padding-bottom: 0 !important;
    }

    .ant-collapse-expand-icon {
      position: absolute;
      right: 0;
      top: 35px;
    }

    .ant-collapse-content-box {
      padding-top: 0 !important;
    }

    .match-review {
      &:hover {
        border-bottom: 1px solid #615dfa;
      }
    }
  }
}
