@import 'styles/_mixins.scss';
@import 'styles/_variables.scss';

.container {
  @include section-default;

  :global {
    .MuiTabs-flexContainer {
      height: 66px;
    }

    .Mui-selected {
      color: $purple-color !important;
    }

    .MuiTabs-indicator {
      background: $purple-color !important;
    }
  }
}